node_modules
npm-debug.log
.DS_Store
.env
.nuxt
.output

.husky
.vscode

.git
.github
Dockerfile
Dockerfile.local
docker-compose-ghcr.yml
docker-compose-local.yml
docker-compose-idce.yml

README.md
LICENSE
CLAUDE.md
CHANGELOG.md
