// perfil sigic https://sigic.dev.geoint.mx/
body[data-perfil='sigic'],
:root {
  /* COLORES PRIMARIOS */
  --color-primario-4: #064635;
  --color-primario-3: #0f5c48;
  --color-primario-2: #519171;
  --color-primario-1: #89b49f;

  /* COLORES SECUNDARIOS */
  --color-secundario-12: #1a2421;
  --color-secundario-11: #24302d;
  --color-secundario-11-rgb: 36, 48, 45;
  --color-secundario-10: #2e3b37;
  --color-secundario-9: #45544f;
  --color-secundario-8: #5d6d67;
  --color-secundario-7: #82928c;
  --color-secundario-6: #aab7b2;
  --color-secundario-5: #d1dad7;
  --color-secundario-4: #e6efec;
  --color-secundario-3: #f0f7f4;
  --color-secundario-2: #f7faf9;
  --color-secundario-1: #fbfcfc;
}
